p {
    text-align: center;
    color: white;
}
h1 {
    text-align: center;
    color: white;
}
h2 {
    text-align: center;
    color: white;
}
h3 {
    text-align: center;
    color: white;
}
body {
    background-image: url("fireworks.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
}
a{
    background-color: white;
    border: none;
    color: purple;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
hr {
    border: 5px solid white;
    border-radius: 60%;
}
