body {
    background-color: #75c9b6;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 1px solid white;
    text-align: center;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #ffffff;
}
h1{
    text-align: center;
    color: white;
    font-display: block
}
