h1 {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
body {
    background-color: aqua;
}
h2 {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
a {
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: gold;
    padding: 10px;
    margin-right: 175px;
    margin-left: 10px
}
