a {
    background-color: pink;
    padding: 5px;
    color: white;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 5px solid hotpink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
    background-color: pink;
    padding: 5px;
    border: 5px solid hotpink;
}
body {
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.container {
    display: inline-grid;
    gap: 50px 50px;
    background-color: pink;
    padding: 20px;
    border: 5px solid hotpink;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
img {
    height: 100px;
    width: 100px;
}
.item1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item4 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item5 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item6 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item7 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item8 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item9 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item10 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item11 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item12 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item13 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item14 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item15 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}
.item16 {
    border: 5px solid hotpink;
    text-align: center;
    padding: 5px;
    padding-bottom: 1px;
}