.h1 {
    background-color: cornflowerblue;
    color: white;
    border: 5px solid white;
    font-family: "Unkempt", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
}
body {
    background-image: url("background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.flexbox {
    display: flex;
    justify-content: center;
}
img {
    border-radius: 8px;
}
.link {
    background-color: cornflowerblue;
    color: white;
    border: 5px solid white;
    font-family: "Unkempt", cursive;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
}
